#movieDetail_page{
    position: relative;
    .row{
        width: 100%;
        display: flex;

        .cardInDetail{
            height:600px;
            width:400px;
            padding-left: 25px;
            padding-right: 25px;
            margin-left: 0;
            color:white; 
            
            .titileInDetail{
                font-size: 2.3em;
                font-weight: bolder;
                padding-top: 150px;
                color:gold;
              
              }

            .button-wrapper-in-detail{
                width: 95%;
                display: flex;
                justify-content: space-between;  
                margin: 20px auto;
            }
        }
    } 
    
    .rent-module{
        position: absolute;
        width: 40%;
        height: 340px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        top: 90px;
        right: 30%;
        z-index: 5;
    }
}

  