.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto auto;
  
    .title {
      margin: 10px 0;
      color: skyblue;
      text-align: center;
    }
    .hint{
        text-align: center;
        color: skyblue;
    }
    .error-message{
      size:0.8em;
      color: darkred;
    }

    .good-message{
      size:0.8em;
      color: lightgreen;
    }

    .button-wrapper{
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin: 30px auto;

      .custom-button{
      width: 135px;
      }
    } 

  }
  